permissions:
  id-token: write
  contents: write
  pull-requests: write
name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Configure NPM Auth Token
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NODE_AUTH_TOKEN }}" >> ~/.npmrc

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          title: '[Release] Candidate'
          commit: 'chore: bumps package versions'
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  verify:
    needs: release
    if: ${{ needs.release.outputs.pullRequestNumber != '' }}
    uses: ./.github/workflows/verify.yml
    secrets: inherit
    with:
      run-acceptance: true
